###############################################################################
## PHP STORM
###############################################################################

/.idea

###############################################################################
## VISUAL STUDIO
###############################################################################

/.vs
/.vscode

###############################################################################
## FOLDERS
###############################################################################

/node_modules

###############################################################################
## FILES
###############################################################################

/package-lock.json
